# VS Code
.vscode/

# Python
**/__pycache__/

data/

pangolinEnv/
.env
*.egg-info/
.eggs/

# Obsidian (user-specific workspace files)
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/app.json