BACKEND_ENGINE=polars
FS_PROTOCOL=file
#FS_OPTIONS={"anon": true, "key": "mykey", "secret": "mysecret"} # Insert fsspec needed options here as a valid JSON string

BASEPATH=C:\insert\here\path\to\repo
DATAPATH=C:\insert\here\path\to\data\folder
INPUT=input
STAGING=staging
DELIVERY=delivery
REPORTS=reports
DISABLE_REPORTS=False
BACKUP=backup

CSV_DELIMITER=;
OUTPUT_FORMAT=parquet

