BACKEND_ENGINE=polars
FS_PROTOCOL=file
#FS_OPTIONS={"anon": true, "key": "mykey", "secret": "mysecret"} # Insert fsspec needed options here as a valid JSON string

BASEPATH=C:\insert\here\path\to\repo
DATAPATH=C:\insert\here\path\to\data\folder
INPUT_FOLDER_NAME=input
STAGING_FOLDER_NAME=staging
DELIVERY_FOLDER_NAME=delivery
REPORTS_FOLDER_NAME=reports
DISABLE_REPORTS=False
BACKUP_FOLDER_NAME=backup

CSV_DELIMITER=;
OUTPUT_FORMAT=parquet

