BACKEND_ENGINE=polars
FS_PROTOCOL=file
#FS_OPTIONS={"anon": true, "key": "mykey", "secret": "mysecret"} # fsspec options as a valid JSON string

BASEPATH=.
#DATAPATH=  # defaults to <BASEPATH>/data when FS_PROTOCOL=file
INPUT_FOLDER_NAME=input
STAGING_FOLDER_NAME=staging
DELIVERY_FOLDER_NAME=delivery
REPORTS_FOLDER_NAME=reports
DISABLE_REPORTS=False
BACKUP_FOLDER_NAME=backup

CSV_DELIMITER=;
OUTPUT_FORMAT=parquet

DEBUG=False
DEBUG_RUN_ID=debug_run
